<div class="relative" (clickOutside)="mostrarMenu = false">
  <button (click)="toggleMenu()" class="text-gray-700 p-1">
    <i class="fa-solid fa-right-from-bracket text-base"></i>
  </button>
  <div *ngIf="mostrarMenu" class="absolute right-0 mt-2 w-64 bg-white border rounded shadow-md z-50 text-sm">
    <div class="px-4 py-2 border-b font-semibold text-center">Información</div>
    <div class="px-4 py-2 flex items-center gap-2 border-b">
      <i class="fa-solid fa-user"></i>
      <span class="text-gray-700 text-xs">Usuario</span>
      <span class="ml-auto text-gray-600 text-xs font-semibold">
        {{ nombres }} {{ apellidos }}
      </span>
    </div>
    <div
      class="px-4 py-2 flex items-center gap-2 cursor-pointer hover:bg-gray-100"
      (click)="cerrar()"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Cerrar Sesión</span>
    </div>
  </div>
</div>
