<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md text-center">
      <img src="assets/logo_cootep.png"  alt="Cootep logo" class="w-32 mx-auto mb-4" />
  
      <h2 class="text-2xl font-bold text-green-800 mb-4">Iniciar sesión en CootepCert</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="enviarCodigo()" class="space-y-4">
        <div class="text-left">
          <label for="identificador" class="block font-semibold mb-1">Cédula o Correo</label>
          <input
            id="identificador"
            type="text"
            formControlName="identificador"
            class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Ej. 123456 o correo@cootep.com"
          />
        </div>
  
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition"
        >
          Enviar Código
        </button>
      </form>
  
      <p *ngIf="mensaje" class="mt-4 text-sm text-gray-600">{{ mensaje }}</p>
    </div>
  </div>
  