<div
  class="fixed top-0 left-0 w-64 h-full bg-gray-800 text-white z-50 transform transition-transform duration-300"
  [ngClass]="{ '-translate-x-full': !abierto }"
>
  <!-- Logo -->
  <div class="flex items-center justify-center h-24 border-b border-gray-600">
    <img src="assets/logo_cootep.png" alt="Logo Cootep" class="h-14" />
  </div>

  <!-- Panel de navegación -->
  <div class="p-4 space-y-4">
    <p class="text-sm text-gray-400 mb-2">Panel de navegación</p>

    <nav class="flex flex-col space-y-3 text-sm">
      <a class="flex items-center gap-3 hover:text-cyan-300" routerLink="/empleado/informacion-personal">
        <i class="fa-solid fa-user text-lg"></i> Mis Datos
      </a>
      <a class="flex items-center gap-3 hover:text-cyan-300" routerLink="/empleado/solicitar-certificado">
        <i class="fa-solid fa-file-pdf text-lg"></i> Solicitar Certificado
      </a>
      <a class="flex items-center gap-3 hover:text-cyan-300" routerLink="/empleado/historial-certificados">
        <i class="fa-solid fa-clock-rotate-left text-lg"></i> Historial de Certificados
      </a>
      <a class="flex items-center gap-3 hover:text-cyan-300" routerLink="/empleado/ayuda">
        <i class="fa-solid fa-circle-question text-lg"></i> Ayuda e Instrucciones
      </a>
    </nav>
  </div>
</div>
